body {
  /* margin-top: 50px; */
  height: 100vh;
  text-align: center;
  font-family: 'Klee One', sans-serif;
  background-color: #333;
}
.desc {
  font-size: 10px;
  color: rgb(83, 105, 140);
}

img {
  display: block;
  border-radius: 50%;
  border: 10px solid #f2f2f2;
  margin: 0 auto;
}

.name {
  color: blue;
}

a {
  text-decoration: none;
}

a:hover {
  color: coral;
}

.connect {
  color: #f2f2f2;
}

#about {
  text-align: center;
  margin: 0 auto;
}

#about p {
  font-size: 20px;
  /* font-style: bold; */
  font-weight: 800;
  color: grey;
}

@media (min-width: 800px) {
  #about {
    width: 800px;
  }

  .showcase {
    width: 800px;
  }
}

.resume {
  display: flex;
  justify-content: center;
}

.resumeicon {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.intro {
  text-align: center;
  padding: 10px 0;
}

.links {
  display: flex;
  justify-content: center;
}

.icon {
  display: block;
  padding: 10px;
  font-size: 30px;
}

.footer {
  position: relative;
  left: 0;
  bottom: 5;
  width: 100%;
  color: grey;
  text-align: center;
}

.showcase {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #d9e4db;
  margin: 0 auto;
  padding-bottom: 20px;
}

h2 {
  padding-bottom: 20px;
}
ul {
  list-style: "➼";
}
li a {
  font-size: 20px;
  padding: 0 10px;
  color: #fff;
}